@{
    ViewData["Title"] = "Trip Details Page";

    var tripSegments = ViewData["TripSegments"] as List<Odcinek>;
    var i = 1;
    var arrow = " -> ";
    var enter = "\n";
    var bracket = ") ";
    var points = " punktów";
    var space = " ";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/TripDetailsPage.css" />
</head>
<body>
    <div class="content-container">
        <div class="trip-details-container">
            <h1>@ViewData["TripTitle"]</h1>
            <p>
                W dniach od <span class="special-text">@ViewData["TripStartTime"]</span> do <span class="special-text">@ViewData["TripEndTime"]</span> masz zaplanowaną wycieczkę na obszarze <span class="special-text">@tripSegments[0].Punkt_Poczatkowy.NazwaGrupyGorskiej,</span>
                za którą możesz zdobyć <span class="special-text">@ViewData["TripPoints"] punktów.</span>
            </p>
            <div class="route-segments">
                <h1>Trasa wycieczki</h1>
                <textarea disabled class="segments">
                    @foreach (var segment in tripSegments)
                    {
                        @i; @bracket; @segment.Punkt_Poczatkowy.Nazwa; @arrow; @segment.Punkt_Koncowy.Nazwa; @space @segment.Punkty @points @enter;

                        i = i + 1;
                    }
                </textarea>
                <button class="route-button" onclick="RouteButtonClick(@ViewData["TripNumber"])">Pokaż na mapie</button>
            </div>
            <button class="verification-button" id="cancel-button" onclick="ReturnButtonClick()">Powrót</button>
        </div>
    </div>
</body>
</html>

@section Scripts
{
    <script>
        function ReturnButtonClick() {
            window.location.href = "@Url.Action("Index", "Wycieczka")";
        }

        function RouteButtonClick(tripNumber) {
            window.location.href = "@Url.Action("DisplayRouteOnMap", "Wycieczka")?tripNumber=" + tripNumber + "&callerController='Wycieczka'&callerAction='Details'";
        }
    </script>
}


